body { /* ...or body.dialogShowing */
  overflow-x: hidden;  
}

.video{
   width:100%;
   max-height:1200px;
   z-index: 1;
   background-color: white;
}
.capture {
    position: absolute; 
    top: 47%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

